{% extends "GwengoloAdminBundle::template.html.twig" %}

{% block headerBreadCrumb %}
  <h1>
           Gérer les types de produits
           
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
            <li><a href="#"><i class="fa fa-dashboard"></i> Types de produits</a></li>
            <li><a href="#"><i class="fa fa-dashboard"></i> Gestion</a></li>
            
          </ol>
{% endblock %}

{% block mainContent %}
  			<table class="table table-hover" style="background-color:white;">
                    <tbody><tr>
                      <th>ID</th>
                      <th>Nom</th>
                      <th>Actions</th>
                    </tr>
                    {% for type in types %}
                    <tr>
                      <td>{{ type.id }}</td>
                      <td>{{ type.name }}</td>
                      <td>
                      <a href="{{ path('gwengolo_admin_type_edit', {'id': type.id}) }}">Modifier</a><br>
                      <a href="{{ path('gwengolo_admin_type_delete', {'id': type.id}) }}">Supprimer</a>
                      </td>
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                  </table>
{% endblock %}